/*Icones*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root{
    --cor-principal:#ff1601e0;
    --cor-segundaria:#eba39cdc;
    --var-terciaria:rgb(248, 213, 213);
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

body{
    background-color:rgba(250, 244, 244, 0.747);
}
/*Menu*/
.navbar{
    height: 80px;
    width: 100%;
    background-color:#000;
    position: fixed;
    overflow: hidden;
}
nav ul {
    text-align: center;
    font-size: 30px ;
    list-style: none;
    margin-right:100px ;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
.nav-item{
    color: #fff;
    text-transform: uppercase;
}
.nav-item:hover{
    color: var(--cor-segundaria);
    transition: .5s;
}

/*Banner*/
.banner-area{
    background-image: url(imagens/banner.jpg);
    background-repeat: no-repeat;
    background-position:center;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 600px;
    background-size:100%;
}
.banner-area h1{
    font-family: 'Norican', cursive;
    font-size: 150px;
    color: var(--cor-principal);
    padding-top:10%;
}
/*Sobre*/
#main-title{
    font-size: 50px;
    color: #000;
    text-align: center;
    margin-top:5% ;
}
.imagem-artista{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    text-align: left;
    margin-left: 9%;
}
.imagem-artista img{
    width:20%;
}
.about-title{
    margin: auto;
    margin-left: 30%;
    width: 45%;
    margin-top: -24%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2%;
    font-size: 19px;
    text-align: justify;
    text-justify: inter-word;
}

/*Galeria*/
.main-title{
    text-align: start;
    margin-right: 4%;
    margin-top: 15%;
}
#galeria-area h3{
    font-size: 50px;
    text-align: center;
}
.container-galeria{
    width: 100%;
    height: auto;
    margin: 200px auto;
    margin-left: 10%;
}
.container-galeria label{
    width: 470px;
    padding: 30px 10px;
    font-size: 30px;
    display: block;
    float: left;
    cursor: pointer;
    text-align: center;
    background-color: #000;
    color:#fff;
}
#galeria img{
    float: left;
    width: 480px;
    padding: 5px;
    transition: all .4s;
}
.container-galeria input:checked + label{
    background-color: var(--cor-principal);
}
.container-galeria input{
    display: none;
}

/*filtro*/
#bt_tatuagens:checked ~ #galeria .micro,
#bt_tatuagens:checked ~ #galeria .decalques{
    opacity: .4;
    transform: scale(0.5);
}
#bt_micro:checked ~ #galeria .tatuagens,
#bt_micro:checked ~ #galeria .decalques{
    opacity: .4;
    transform: scale(0.5);
}
#bt_decalque:checked ~ #galeria .tatuagens,
#bt_decalque:checked ~ #galeria .micro{
    opacity: .4;
    transform: scale(0.5);
}
/*videos*/
.titulo-video{
    margin-top: 210%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 50px;
}
.videos{
    width: 100%;
    height:auto;
    margin:auto;
    margin-left: 2%;
}

/*Duvidas*/
#duvidas-area{
    padding-top: 10%;
    
}
#titulo-duvidas{
    text-align: center;
    font-size: 50px;
}
.text-perguntas{
    margin-top: 5%;
    margin: auto;  
    
}
.text-perguntas h3{
    text-align:center;
    margin-bottom: 5%;
    margin-top: 2%;
    font-size: 40px;
    
}
.titulo-perguntas{
    margin-top: 3%;
    margin-left: 15%;
    font-size: 30px;
}
.res{
    margin-top: 3%;
    margin-left: 15%;
    font-size: 20px;
}

/*duvidas e cuidados*/
.titulo-cuidados{
    margin-top: 4%;
}
#microo{
    display: none;
}

#aparecer{
    text-align: center;
    margin-top: 3%;
    margin-left: 46%;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
}
#aparecer:hover{
    background-color: var(--cor-segundaria);
}
#aparecer2{
    text-align: center;
    margin-top: 3%;
    margin-left: 46%;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
}
#aparecer2:hover{
    background-color: var(--cor-segundaria);
}
#tatuagem-area{
    display: none;
}
hr{
    margin-top: 5%;
}

/*Contato*/
#contato-area{
    margin-top:10% ;
}
.contato-titulo {
    text-align: center;
    font-size: 50px;
    margin-top: 1%;
}

.flex{
    display: flex;
}
.contato-box{
    text-align: center;
    margin: auto;
    margin-top: 10%;
}
.contato-box i {
    font-size: 80px;
    margin-bottom: 3%;
    color: var(--cor-principal);
}
.contato-box h3{
    font-size: 40px;
}
.contato-box p {
    font-size: 20px;
}

/*Local*/
.titulo{
    margin-top: 10%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 1%;
}

.mapa{
    max-width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 30%;
    height: 0;
    overflow: hidden;

}
.text-mapa{
    text-align: center;
    font-size: 40px;
    text-transform:bold ;
}
/*pagamentos*/
.titulo-pagamentos{
    text-align: center;
    font-size: 50px;
    padding-top: 5%;
}
.pagamentos{
    display: flex;
    margin-top: 3%;
    padding: 1%;
}
.cartao{
    margin: auto;
}
.cartao i{
    margin-bottom: 20px;
    margin-left: 45%;
    font-size: 100px;
    color: var(--cor-principal);
}
.cartao p{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    margin:auto 10%;
}
.pix{
    margin: auto;
}
.pix i{
    margin-bottom: 20px;
    margin-left: 45%;
    font-size: 100px;
    color: var(--cor-principal);
}
.pix p{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    margin:auto 10%;
}

/*copy*/
.direitos{
    text-align: center;
    font-size: 20px;
    background-color: #000;
    color: rgba(255, 255, 255, 0.616);
    padding: 1%;
}
.direitos a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.616); ;
}
.direitos a:hover{
    color: #fff;
}

/*resposivo*/
@media (max-width:768px){
    ul{
        margin-top: -4%;
        margin-bottom: -3%;
         
    }
    nav ul{
        margin-right:0px ;
    }

    .nav-item{
     font-size: 12px;
    }
    nav li{
     margin: 0 4px;
     margin-top: 4%;
     line-height: 0;
    }
    .navbar{
        width: 600px;
        height: 10px;
        padding: 20px;
        margin-left: 60px;
        margin-top: 10px;
        display: none;
    }
    .nav-item a{
        display: block;
    }
    .nav-item a.icon{
        background: #000;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: -10%;
    }
    .icon{
        color: var(--cor-principal);
        float: right;
        font-size: 60px;
        padding: 2px;
        position: fixed;
    }
    .banner-area{
        height: 190px;
    }
    .banner-area h1{
        font-size: 50px;
        padding-top: 10%;
    }
    #main-title{
        font-size: 50px;
    }
    .imagem-artista{
        margin-left: 25%;
    }
    .imagem-artista img{
       width: 50%; 
       margin: auto;
    }
    .about-title{
        width: 80%;
        font-size: 30px;
        margin-top: 1%;
        margin: auto;
    }
    #galeria-area h3{
        font-size: 50px;
    }
    .container-galeria{
        margin: 200px auto;
        width: 800px;
        height: auto;
    }
    .container-galeria label{
        font-size: 30px;
        width: 93%;
    }
    #galeria img{
        width: 246px;
    }
    .titulo-video{
        font-size: 50px;
        margin-top: 310%;
    }
    .videos iframe{
        width: 720px;
        height: 500px;
        padding: 1%;
    }
    #titulo-duvidas{
        font-size: 50px;
    }
    .text-perguntas h3{
        font-size: 40px;
    }
    .titulo-perguntas{
        margin-left: 8%;
        font-size: 30px;
    }
    .res{
        font-size: 20px;
        margin-left: 8%;
    }
    #aparecer{
        font-size: 30px;
    }
    #aparecer2{
        font-size: 30px;
    }
    .contato-titulo{
        font-size: 40px;
    }
    .flex{
        display: block;
    }
    .contato-box i{
        font-size: 90px;
    }
    .contato-box h3{
        font-size: 40px;
    }
    .contato-box p{
        font-size: 30px;
    }
    .titulo{
        font-size: 50px;
    }
    .text-mapa{
        font-size: 30px;
    }
    .titulo-pagamentos{
        font-size: 50px;
    }
    .cartao i {
        font-size: 100px;
        margin-left: 35%;
    }
    .cartao p{
        font-size: 18px;
        width: auto;
    }
    .pix i {
        font-size: 100px;
    }
    .pix p {
        font-size: 18px;
        width: auto;
    }
    .direitos{
        font-size: 30px;
    }

}
@media(max-width:700px){
     
    .banner-area{
        width: 515px;
        height: 300px;
    }
    .banner-area h1{
        font-size: 50px;
        padding-top: 20%;
    }
    #main-title{
        font-size: 35px;
        width: 100%;
        text-align: center;
        margin-left: 65px;
    }
    .imagem-artista{
        margin-left: 150px;
    }
    .about-title{
        width: 80%;
        font-size: 14px;
        margin-left: 85px;
    }
    
    #galeria-area h3{
        font-size: 30px;
        margin-left: 70px;
        width: 100%;
    }
    .container-galeria{
        width: 148%;
    }
    #galeria img{
        width: 163px;
    }
    .titulo-video{
        margin-top: 510%;
        margin-left: 50%;
    }
    .videos{
        width: 200%;
        margin-left: -10px;
    }
    #titulo-duvidas{
        font-size: 30px;
        width: 100%;
        margin-left: 20%;
    }
    .text-perguntas h3{
        font-size: 25px;
        margin-left: 40%; 
    }
    .titulo-perguntas{
        width: 100%;
        font-size: 20px;
    }
    .res{
        width: 100%;
        font-size: 15px;
    }
    #aparecer{
        font-size: 20px;
    }
    #aparecer2{
        font-size: 20px;
    }
    .contato-titulo{
        font-size: 30px;
        margin-left: 25%;
    }
    .contato-box i{
        width: 100px;
        margin-left: 65px;
    }
    .contato-box h3{
        font-size: 30px;
        margin-left: 65px;
    }
    .contato-box p {
        font-size: 20px;
        margin-left: 65px;
    }
    .titulo{
        font-size: 30px;
        margin-left: 50px;
        width: 100%;
    }
    .text-mapa{
        font-size: 15px;
        width: 100%;
        margin-left: 55px;
    }
    .titulo-pagamentos{
        font-size: 30px;
        margin-left:50px ;
        width: 100%;
    }
    .cartao i{
        width: 100px;
    }
    .cartao p{
        width: 100%;
        font-size: 11px;
        margin-left: 1%;
    }
    .pix i{
        width: 100px;
    }
    .pix p{
        width: 90%;
        font-size: 11px;
        margin-right: 1%;
    }
    .direitos{
        width: 140%;
        font-size: 15px;
    }




}
@media(max-width:414px){
    .navbar{
        font-size: 10px;
        height: 30px;
        width: 80%;
        margin-top:-1px ;
    }
    .navbar a{
        font-size: 13px;
    }
    .icon{
        font-size: 40px;
    }
    ul{
        margin-top: -6%;
    }
    .banner-area{
        height: 110px;
        width: 100%;
    }
    .banner-area h1{
        padding-top:2% ;
    }
    #main-title{
        margin-left: 0;
    }
    .imagem-artista img{
        margin-left: -10%;
    }
    .about-title{
        margin-left: 9%;
        font-size: 16px;
    }
    #galeria-area h3{
        margin-left: 1%;
    }
    .container-galeria{
        width: 110%;
        margin: 90px auto;
    }
    .container-galeria label{
        padding: 10px 10px;
    }
    #galeria img{
        width: 130px;
    }
    .titulo-video{
        margin-top: 330%;
        margin-left: 1%;
        margin-bottom: 15%;
    }
    .videos{
        width: 100%;
    }
    .videos iframe{
        width: 419px;
    }
    #titulo-duvidas{
        margin-left: 1%;
    }
    .text-perguntas h3{
        margin-left: 1%;
    }
    .titulo-perguntas{
        margin-left: 1%;
    }
    .res{
        margin-left: 1%;
    }
    .contato-titulo{
        margin-left: 1%;
    }
    .contato-box I{
        margin-left: 1%;
    }
    .contato-box H3{
        margin-left: 1%;
    }
    .contato-box P{
        margin-left: 1%;
    }
    .titulo{
        margin-left: 1%;
    }
    .titulo-pagamentos{
        margin-left: 1%;
    }
    .cartao i {
        font-size: 50px;
    }
    .cartao p{
        border: 0;
    }
    .pix i{
        font-size: 50px;
    }
    .pix p{
        border: 0px;
        border-left: 1px solid #000;
        border-radius: 0;
        margin-left: 15px;
    }
    .direitos{
        width: 100%;
    }
}
@media(max-width:375px){
    .navbar{
        font-size: 10px;
        height: 30px;
        width: 80%;
        margin-top:-1px ;
    }
    .navbar a{
        font-size: 11px;
    }
    .icon{
        font-size: 40px;
    }
    ul{
        margin-top: -6%;
    }
    .banner-area{
        height: 110px;
        width: 100%;
    }
    .banner-area h1{
        padding-top:2% ;
    }
    #main-title{
        margin-left: 0;
    }
    .imagem-artista img{
        margin-left: -15%;
    }
    .about-title{
        margin-left: 9%;
        font-size: 14px;
    }
    #galeria-area h3{
        margin-left: 1%;
    }
    .container-galeria{
        width: 110%;
        margin: 90px auto;
    }
    .container-galeria label{
        padding: 10px 10px;
        width: 86%;
    }
    #galeria img{
        width: 117px;
    }
    .titulo-video{
        margin-top: 330%;
        margin-left: 1%;
        margin-bottom: 15%;
    }
    .videos{
        width: 100%;
    }
    .videos iframe{
        width: 380px;
    }
    #titulo-duvidas{
        margin-left: 1%;
    }
    .text-perguntas h3{
        margin-left: 1%;
    }
    .titulo-perguntas{
        margin-left: 1%;
        margin-top: 4%;
        font-size: 18px;
    }
    .res{
        margin-left: 1%;
        margin-top: 4%;
    }
    .contato-titulo{
        margin-left: 1%;
    }
    .contato-box I{
        margin-left: 1%;
    }
    .contato-box H3{
        margin-left: 1%;
    }
    .contato-box P{
        margin-left: 1%;
    }
    .titulo{
        margin-left: 1%;
    }
    .text-mapa{
        margin-left: 1%;
    }
    .titulo-pagamentos{
        margin-left: 1%;
    }
    .cartao i {
        font-size: 50px;
    }
    .cartao p{
        border: 0;
    }
    .pix i{
        font-size: 50px;
    }
    .pix p{
        border: 0px;
        border-left: 1px solid #000;
        border-radius: 0;
        margin-left: 15px;
    }
    .direitos{
        width: 100%;
    }
}
@media(max-width:360px){

    .navbar{
        margin-left: 40px;
        margin-top: -1px;
        padding: 6px;
        height: 65px;
        width: 80%;
    }
    .navbar a{
        font-size: 11px;
    }
    .icon{
        font-size: 40px;
        position: fixed;
    }
    .banner-area{
        width: 100%;
        height: 85px;
        margin: auto;
        align-items: center;
        text-align: center;
        background-size: 100%;
    }
    .banner-area h1{
        font-size: 40px;
        padding-top: 3%;
    }
    #main-title{
        margin-top: 1%;
        margin-left: 0%;
    }
    .imagem-artista{
        text-align: left;
        margin: auto;
        margin-left:35%;
    }
    .imagem-artista img{
        width: 60%;
    }
    .about-title{
        font-size: 9px;
        margin-left: 10%;
        
    }
   #galeria-area h3{
       margin-left: 1%;
   }
   .container-galeria{
       width: 361px;
       margin: 100px auto;
   }
   .container-galeria label{
    width: 94%;
   }
   #galeria img{
       width: 110px;
   }
   .titulo-video{
       margin-top: 350%;
       margin-left: 10%;
   }
   .videos iframe{
       margin-left: 1%;
       width: 366px;
       height: 220px;
   }

   #titulo-duvidas{
       margin-left: 1%;
   }
   .text-perguntas h3{
       margin-left: 1%;
   }
   .titulo-perguntas{
    margin-left: 3%;
   }
   .res{
       margin-left: 1%;
   }
   .contato-titulo{
       margin-left: 1%;
   }
   .contato-box i{
       margin-left: 1%;
   }
   .contato-box h3{
       margin-left: 1%;
   }
   .contato-box p{
       font-size: 18px;
       margin-left: 1%;
   }
   .titulo{
       margin-left: 1%;
   }
   .text-mapa{
       margin-left: 1%;
   }
   .titulo-pagamentos{
       margin-left: 1%;
   }
   .cartao i {
       font-size: 70px;
       margin-top: 1%;
       margin: 0 35% ;
       margin-bottom: 3%;
   }
   .cartao p{
       margin-left: 1%;
       border: 0ch;
   }

   .pix i{
        font-size: 70px;
        margin-top: 1%;
        margin: 0 40%;
        margin-bottom: 3%;
   }
   .pix p{
        border: 0px;
        border-left: 1px solid #000;
        border-radius: 0;
        margin-left: 10px;
   }
   .direitos{
       width: 100%;
   }
}


